USE [Quizlett]
GO
/****** Object:  Table [dbo].[Card]    Script Date: 3/6/2023 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Card](
	[cardId] [int] IDENTITY(1,1) NOT NULL,
	[term] [nvarchar](max) NULL,
	[definition] [nvarchar](max) NULL,
	[studySetId] [int] NULL,
 CONSTRAINT [PK_Card] PRIMARY KEY CLUSTERED 
(
	[cardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 3/6/2023 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[classId] [int] IDENTITY(1,1) NOT NULL,
	[className] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[isInvite] [bit] NULL,
	[inviteCode] [nchar](10) NULL,
	[isEdit] [bit] NULL,
	[schoolName] [nvarchar](max) NULL,
	[userId] [int] NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[classId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlashCards]    Script Date: 3/6/2023 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlashCards](
	[userId] [int] NOT NULL,
	[cardId] [int] NOT NULL,
	[studySetId] [int] NOT NULL,
	[flashCardId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_FlashCards] PRIMARY KEY CLUSTERED 
(
	[flashCardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Folder]    Script Date: 3/6/2023 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Folder](
	[folderId] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[userId] [int] NULL,
	[isShare] [bit] NULL,
 CONSTRAINT [PK_Folder] PRIMARY KEY CLUSTERED 
(
	[folderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListEditId]    Script Date: 3/6/2023 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListEditId](
	[studySetId] [int] NULL,
	[userId] [int] NULL,
	[listEditId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ListEditId] PRIMARY KEY CLUSTERED 
(
	[listEditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListFolder]    Script Date: 3/6/2023 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListFolder](
	[studySetId] [int] NULL,
	[folderId] [int] NULL,
	[ListFolderId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ListFolder] PRIMARY KEY CLUSTERED 
(
	[ListFolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListMember]    Script Date: 3/6/2023 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListMember](
	[classId] [int] NULL,
	[userId] [int] NULL,
	[listMemberId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ListMember] PRIMARY KEY CLUSTERED 
(
	[listMemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListStudySet]    Script Date: 3/6/2023 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListStudySet](
	[classId] [int] NULL,
	[studySetId] [int] NULL,
	[ListStudySetId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ListStudySet] PRIMARY KEY CLUSTERED 
(
	[ListStudySetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudySet]    Script Date: 3/6/2023 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudySet](
	[studySetId] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[isShare] [bit] NULL,
	[userId] [int] NULL,
 CONSTRAINT [PK_StudySet] PRIMARY KEY CLUSTERED 
(
	[studySetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/6/2023 2:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[name] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[gmail] [nvarchar](50) NULL,
	[isActive] [bit] NULL,
	[avatar] [nvarchar](max) NULL,
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[language] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Class] ADD  CONSTRAINT [DF_Class_isInvite]  DEFAULT ((0)) FOR [isInvite]
GO
ALTER TABLE [dbo].[Class] ADD  CONSTRAINT [DF_Class_isEdit]  DEFAULT ((0)) FOR [isEdit]
GO
ALTER TABLE [dbo].[Folder] ADD  CONSTRAINT [DF_Folder_isShare]  DEFAULT ((1)) FOR [isShare]
GO
ALTER TABLE [dbo].[StudySet] ADD  CONSTRAINT [DF_StudySet_isShare]  DEFAULT ((1)) FOR [isShare]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_isActive]  DEFAULT ((0)) FOR [isActive]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_language]  DEFAULT (N'VI') FOR [language]
GO
ALTER TABLE [dbo].[Card]  WITH CHECK ADD  CONSTRAINT [FK_Card_StudySet] FOREIGN KEY([studySetId])
REFERENCES [dbo].[StudySet] ([studySetId])
GO
ALTER TABLE [dbo].[Card] CHECK CONSTRAINT [FK_Card_StudySet]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_User]
GO
ALTER TABLE [dbo].[FlashCards]  WITH CHECK ADD  CONSTRAINT [FK_FlashCards_Card] FOREIGN KEY([cardId])
REFERENCES [dbo].[Card] ([cardId])
GO
ALTER TABLE [dbo].[FlashCards] CHECK CONSTRAINT [FK_FlashCards_Card]
GO
ALTER TABLE [dbo].[FlashCards]  WITH CHECK ADD  CONSTRAINT [FK_FlashCards_StudySet] FOREIGN KEY([studySetId])
REFERENCES [dbo].[StudySet] ([studySetId])
GO
ALTER TABLE [dbo].[FlashCards] CHECK CONSTRAINT [FK_FlashCards_StudySet]
GO
ALTER TABLE [dbo].[FlashCards]  WITH CHECK ADD  CONSTRAINT [FK_FlashCards_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[FlashCards] CHECK CONSTRAINT [FK_FlashCards_User]
GO
ALTER TABLE [dbo].[Folder]  WITH CHECK ADD  CONSTRAINT [FK_Folder_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Folder] CHECK CONSTRAINT [FK_Folder_User]
GO
ALTER TABLE [dbo].[ListEditId]  WITH CHECK ADD  CONSTRAINT [FK_ListEditId_StudySet] FOREIGN KEY([studySetId])
REFERENCES [dbo].[StudySet] ([studySetId])
GO
ALTER TABLE [dbo].[ListEditId] CHECK CONSTRAINT [FK_ListEditId_StudySet]
GO
ALTER TABLE [dbo].[ListEditId]  WITH CHECK ADD  CONSTRAINT [FK_ListEditId_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[ListEditId] CHECK CONSTRAINT [FK_ListEditId_User]
GO
ALTER TABLE [dbo].[ListFolder]  WITH CHECK ADD  CONSTRAINT [FK_ListFolder_Folder] FOREIGN KEY([folderId])
REFERENCES [dbo].[Folder] ([folderId])
GO
ALTER TABLE [dbo].[ListFolder] CHECK CONSTRAINT [FK_ListFolder_Folder]
GO
ALTER TABLE [dbo].[ListFolder]  WITH CHECK ADD  CONSTRAINT [FK_ListFolder_StudySet] FOREIGN KEY([studySetId])
REFERENCES [dbo].[StudySet] ([studySetId])
GO
ALTER TABLE [dbo].[ListFolder] CHECK CONSTRAINT [FK_ListFolder_StudySet]
GO
ALTER TABLE [dbo].[ListMember]  WITH CHECK ADD  CONSTRAINT [FK_ListMember_Class] FOREIGN KEY([classId])
REFERENCES [dbo].[Class] ([classId])
GO
ALTER TABLE [dbo].[ListMember] CHECK CONSTRAINT [FK_ListMember_Class]
GO
ALTER TABLE [dbo].[ListMember]  WITH CHECK ADD  CONSTRAINT [FK_ListMember_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[ListMember] CHECK CONSTRAINT [FK_ListMember_User]
GO
ALTER TABLE [dbo].[ListStudySet]  WITH CHECK ADD  CONSTRAINT [FK_ListStudySet_Class] FOREIGN KEY([classId])
REFERENCES [dbo].[Class] ([classId])
GO
ALTER TABLE [dbo].[ListStudySet] CHECK CONSTRAINT [FK_ListStudySet_Class]
GO
ALTER TABLE [dbo].[ListStudySet]  WITH CHECK ADD  CONSTRAINT [FK_ListStudySet_StudySet] FOREIGN KEY([studySetId])
REFERENCES [dbo].[StudySet] ([studySetId])
GO
ALTER TABLE [dbo].[ListStudySet] CHECK CONSTRAINT [FK_ListStudySet_StudySet]
GO
ALTER TABLE [dbo].[StudySet]  WITH CHECK ADD  CONSTRAINT [FK_StudySet_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[StudySet] CHECK CONSTRAINT [FK_StudySet_User]
GO
