/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 1, 2023, 1:31:59 AM
    Author     : vieta
*/
body {
    background-color: #0a092d;
}

.classSet-section {
    color: white;
    margin: 30px 10vw;
    font-size: 18px;
}

.control-classSet {
    display: flex;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.method-classSet {
    display: flex;
}

.edit-folderSet{
    position: relative;
}
.show{
    display:flex;
}
.method-item {
    border: 1px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.method-item:hover {
    background-color: #2e3856;
    cursor: pointer;
}

.method-itemX {
    border: 1px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.method-itemX:hover {
    background-color: #2e3856;
    cursor: pointer;
    margin-left:700px;
}

.classSet-info {
    display: flex;
}

/*.classSet-info p:last-child {
    margin-left: 30px;
}*/

.fa-class {
    font-size: 50px;
    color: #c3c7d5;
    margin-right: 26px;
}

.class-author {
    padding-left: 30px;
    padding-bottom: 30px;
}

.class-desc {
    margin-top: -10px;
    color: #F6F7FB;
    font-size: 16px;
}
.modal1{
    display:none;
    position: fixed;
    z-index: 1;
    padding-top: 100px; /* Vị trí của modal */
    left: 0;
    top: -70px;
    width: 100%;
    height: 100vh;
    overflow: auto; /* thiết lập scroll khi cần thiết */
    background: rgba(10, 9, 45, 0.7);
}
.modal-content1 {
    background-color: #F6F7FB;
    margin: auto;
    border: 1px solid #888;
    width: 35%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
        0 2px 2px rgba(0,0,0,0.12),
        0 4px 4px rgba(0,0,0,0.12),
        0 8px 8px rgba(0,0,0,0.12),
        0 16px 16px rgba(0,0,0,0.12);
    color: black;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding:9px;
    border-radius: 5px;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.button-studySet{
    text-decoration: none;
    align-items: center;
    color: black;
    border-bottom: 5px solid #3ccfcf;
}

.create-studySet{
    display: flex;
    justify-content: center;
    background-color: white;
    padding:24px;
    margin-top: 20px;
}

.combo-box1{
    margin: 32px 10px;
    padding:10px 10px 10px 16px;
    color: #3ccfcf;
    border-color: white;
    border-radius: 5px;
    background-color: white;
    font-size: .875rem;
}
.option{
    color: black;
}
.header-studySet{
    margin: 0px;
    background-color: #282e3e;
    color:white;
    padding: 32px;
    font-size: 30px;
}
.item-study-set1{
    background-color: white;
    padding: 20px;
    color: black;
    border-radius: 6px;
    margin-bottom: 30px;
    cursor: pointer;
    margin-left: 22px;
}
.fa-minus, .add-icon {
    float: right;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #ffc107;
}

.fa-folder-minus {
    float: right;
    color: #ccc;
    font-size: 14px;
    position: relative;
}

.fa-folder-minus:hover {
    color: white;
    cursor: pointer;
}

.folderSet-controller {
    background-color: #ffc107;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
}

.input-send {
    display: none;
}

.title-study-set1 {
    font-size: 22px;
    font-weight: 600;
}

.content-container {
    height: 340px;
    overflow-y: scroll;
    margin-bottom: 30px;
    -ms-overflow-style: none;
}

.content-container::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

.edit-folderSet {
    position: relative;
}

.folder-author {
    display: flex;
    margin: 0 10vw;
}

.folder-author p {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.folder-desc {
    color: #F6F7FB;
    font-size: 16px;
    margin: 0 10vw;
    margin-top: -10px;
    margin-bottom: 86px;
}

.item-study-set {
    width: 100%;
    background-color: #2e3856;
    padding: 12px 20px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    border-bottom: 4px solid #2e3856;
}

.item-study-setD{
    width: 100%;
    background-color: #2e3856;
    padding: 12px 20px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    border-bottom: 4px solid #2e3856;
    display: flex;
    justify-content: space-between;
}

.container-studySet {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 60vw;
}

.item-study-set:hover {
    border-bottom: 4px solid #fff;
}
.item-study-setD:hover {
    border-bottom: 4px solid #fff;
}

.title-study-set {
    font-size: 22px;
    font-weight: 600;
}

.amount-card {
    font-size: 15px;
    font-weight: 600;
}

.author-study-set {
    font-weight: 600;
    font-size: 15px;
    display: flex;
}

.author-study-set2 {
    font-weight: 600;
    font-size: 25px;
    display: flex;
}

.container-home {
    background-color: #0a092d;
    min-height: calc(100vh - 65px) !important;
}

.desc-studySet {
    color: #939bb4;
}

a{
    text-decoration: none;
}
.content-container {
    margin-top: 16px;
}
.class-container {
    margin-top: 36px;
}
.title-container-class {
    color: #939BB4;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    margin-right: 20px;

}
.cate-class{
    padding-bottom: 10px;
    border-bottom: 1px solid #939BB4;
    margin-bottom: 50px;
}
.button,.taskbar{
    display: flex;

}
.descrip{
    display:flex;
    justify-content: space-between;
}
.task-bar,.arrange{
    display:flex;
    justify-content: space-between;
}

.arrange h6{
    margin-top: 9px;
    font-size: 14px;
}
.btn-folder{
    padding: 10px 20px;
    color: #f6f7fb;
    background-color: #0a092d;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 60px;
}
/*.filter{
    padding-left: 500px;
}*/




.cover-item{
    display: flex;
    font-size:12px;
}
.item-study-set:hover {
    border-bottom: 4px solid #fff;
}

.item-study-set div:nth-child(1) {
    display: flex;
    margin-bottom: 3px;
}

.item-study-setD:hover {
    border-bottom: 4px solid #fff;
}

.item-study-setD div:nth-child(1) {
    margin-bottom: 3px;
}

.title-studySet {
    font-weight: 700;
    font-size: 20px;
}

.title-studySet:hover {
    color: #ffcd1f;
}

.user-avatar-sub {
    background-color: #423ed8;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-weight: 600;
    margin-right: 5px;
    text-transform: uppercase;
}

.user-avatar-sub2 {
    background-color: #423ed8;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-right: 5px;
    text-transform: uppercase;
}


.bar {
    color: #13141b;
    margin: 0 10px;
}
.items-mini1{
    display:flex;
    padding-bottom: 5px;
    margin-top: 10px;
}
.items-mini1 p{
    margin-top: 0px;
    padding: 0 10px;
}
.modal3{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px; /* Vị trí của modal */
    left: 0;
    top: -70px;
    width: 100%;
    height: 100vh;
    overflow: auto; /* thiết lập scroll khi cần thiết */
    background: rgba(10, 9, 45, 0.7);

}

.modal-content3 {
    background-color: #F6F7FB;
    margin: auto;
    border: 1px solid #888;
    width: 35%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
        0 2px 2px rgba(0,0,0,0.12),
        0 4px 4px rgba(0,0,0,0.12),
        0 8px 8px rgba(0,0,0,0.12),
        0 16px 16px rgba(0,0,0,0.12);
    color: black;
}
/*.dropdown-controller1 {
    background: #0a092d !important;
    width: 120px;
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 12px;
    z-index: 99;
    padding-bottom: 7px;
    display: none;
}*/


.dropdown-controller {
    background: #0a092d !important;
    width: 120px;
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 12px;
    z-index: 99;
    padding-bottom: 7px;
    display: none;
}

.dropdown-content {
    background: #0a092d !important;
    width: 120px;
    position: absolute;
    top: 30px;
    left: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 12px;
    display: none;
    z-index: 99;
}

.dropdown-content:last-child {
    right: 50px !important;
    top: 50px;
}

.dropdown-item {
    color: #ccc !important;
    font-weight: 600;
    padding: 10px;
}

.dropdown-item:hover {
    background: #282e3e;
    border-radius: 12px;
    color: white !important;
}

.modalDel {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px; /* Vị trí của modal */
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto; /* thiết lập scroll khi cần thiết */
    background: rgba(10, 9, 45, 0.7);
}

.modalDel-content {
    margin: auto;
    border: none !important;
    width: 50%;
    border-radius: 14px;
    color: white;
    background-color: #2e3856 !important;
}


.delcontent{
    background-color: #282e3e;
    padding: 20px;
}
.delcontent1{
    padding: 20px;
}

.input-send{
    display: none;
}
.container-controll {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.btn-cancel,.btn-del {
    margin: 0px 50px;
}
.btn-del{
    padding: 26px 40px;
    background: #ff725b;
    font-weight: bold;
    color: white;
    font-size: 18px;
}
.btn-cancel{
    padding: 26px 90px;
    background: #303545;
}
.contentdel{
    width: 90%;
    padding: 0px 80px;
}
.btn-del:hover {
    background: #ff8e7b;
}
.btn-cancel:hover{
    background: #595d6a;
}

.invite-content{
    background-color: #282e3e;
    padding: 5px 20px;
}

invite-cont{
    padding: 5px 20px;
}
.content-invite{
    padding-left: 20px;
}
.content-member{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.addmember{
    color: white;
    padding-left: 10px;
    outline: none;
    background-color:initial;
    width: 100%;
    background-color: #2e3856;
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    appearance: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.invite{
    font-size: 20px;
}
.invite-button-cl{
    padding: 20px 50px;
    border-radius: 10px;
}
.button-member{
    padding: 0px 50px;
}
.tag{
    display: block;
    height: .25rem;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
    width: 100%;
    box-shadow: 0 .125rem 0 0 var(--ui_color_gray_30);
}

.classId {
    display: none;
}

.class-na, .school-na, .details-cl{
    padding-left: 10px;
}
#myInput{
    background-color: initial;
    color: white;
    border-color: white;
    padding: 10px;
}
.btn-copy1 {
      background: #4255ff !important;
    color: #fff;
    padding: 15px;
    border-radius: 25px;
}
.btn-copy{
    background: #4255ff;
    color: #fff;
    padding: 15px;
    border-radius: 15px;
}
.empty-folder{
    text-align: center;
    color: white;
}
.empty-folder h3{
    font-size: 30px;
    font-weight: 700;
    font-family: common-ligatures contextual;
}
.empty-folder button{
    background-color: #3ccfcf;
    font-size: 14px;
    padding:12px 24px;
    border-radius:0.25rem;
    border:none;
    cursor:pointer;
}

.main2 {
    display: none;
}

#myBtnDel{
    color:red !important;
}

#myBtnDel:hover{
    background: #282e3e;
    border-radius: 12px;
}

#myBtnDel {
    width: 200px;
    background-color: #0a092d;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: Time New Roman;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
        0 2px 2px rgba(0,0,0,0.12),
        0 4px 4px rgba(0,0,0,0.12),
        0 8px 8px rgba(0,0,0,0.12),
        0 16px 16px rgba(0,0,0,0.12);
    outline: none;
    text-align: start !important;
}


#myBtnE:hover{
    background: #282e3e;
    border-radius: 12px;
    color: white !important;
}

#myBtnE {
    background-color: #0a092d;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: Time New Roman;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
        0 2px 2px rgba(0,0,0,0.12),
        0 4px 4px rgba(0,0,0,0.12),
        0 8px 8px rgba(0,0,0,0.12),
        0 16px 16px rgba(0,0,0,0.12);
    outline: none;
    text-align: start !important;
    width: 200px;
    
}