/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Dec 8, 2022, 11:41:12 PM
    Author     : LENOVO
*/

body {
    margin: 0;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    background-color: #0a092d;
    color: white;
    border-bottom: 1px solid #282e3e;
}

.nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-item {
    cursor: pointer;
    margin: 0 10px;
    padding: 20px 0;
}
.nav-item:hover{
    border-bottom: 4px solid #fff;
    margin-bottom: -4px;
}

.nav-item:first-child {
    font-size: 28px;
    font-weight: 700;
    margin-left: 16px;
}

.nav-item:last-child {
    padding: 6px 12px;
    width: 30px;
    background-color: #423ed8;
    border-radius: 4px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.search-input {
    height: 36px;
    margin-right: 20px;
    border-radius: 6px;
    background-color: #2e3856;
    border: none;
    width: 250px;
    color: #d9dde8;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
}

.search-input::placeholder {
    color: #d9dde8;
}

.container-dropdown {
    position: relative;
}

.dropdown-content {
    background: #0a092d !important;
    width: 220px;
    position: absolute;
    top: 60px;
    right: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 12px;
    display: none;
    z-index: 99;
    padding-bottom: 7px;
}

.user-info {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.info-name {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: -2px;
}

.info-email {
    font-size: 13px;
    font-weight: 400;
    margin-top: -2px;
    white-space: nowrap;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-item {
    color: #ccc !important;
    font-weight: 600;
    padding: 10px 20px;
}

.border-line {
    height: 1px;
    background: #ccc;
    width: 100%;
    margin: 7px 0;
}

.dropdown-item:hover {
    background: #282e3e;
    color: white !important;
}

.show {
    display: flex;
}

.user-avatar {
    background-color: #423ed8;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
    text-transform: uppercase;
}

.modal {
    display: none; /* Ẩn Mặc Định */
    position: fixed;
    z-index: 1;
    padding-top: 100px; /* Vị trí của modal */
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto; /* thiết lập scroll khi cần thiết */
    background-color: rgba(10, 9, 45, 0.7);
}

.modal-content {
    background-color: #2e3856;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
        0 2px 2px rgba(0,0,0,0.12),
        0 4px 4px rgba(0,0,0,0.12),
        0 8px 8px rgba(0,0,0,0.12),
        0 16px 16px rgba(0,0,0,0.12);
    border-radius: 14px;
    color: white;
}
#myBtn:hover{
    background: #282e3e;
    border-radius: 12px;
    color: white !important;
}

#myBtn {
    background-color: #0a092d;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: Time New Roman;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
        0 2px 2px rgba(0,0,0,0.12),
        0 4px 4px rgba(0,0,0,0.12),
        0 8px 8px rgba(0,0,0,0.12),
        0 16px 16px rgba(0,0,0,0.12);
    outline: none;
    text-align: start !important;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.title{
    height: 30px;
    width: 100%;
    background-color: #F6F7FB;
    border-radius:8px;
    border:0px ;
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
    padding: 10px 0px;
}

.details{
    height: 30px;
    width: 100%;
    border-radius:8px;
    border:0px ;
    font-size: 20px;
    background-color: #F6F7FB;
    color: black;
    margin-bottom: 20px;
    padding: 15px 0px;
}

.button-folder{
    display: flex;
    justify-content: flex-end;
}

.create-button{
    background-color: #D9DDE8;
    font-size: 14px;
    color: white;
    margin-top: 50px;
    padding: 8px 16px;
    border-radius: 6px;
    border:0px ;
}

.create-button:hover{
    background: #282e3e;
    border-radius: 12px;
    color: white !important;
    cursor: pointer;
}

.logout{
    position: absolute;
}

.btn-login {
    margin-right: 10px !important;
}

.container-dropdown-lib {
    position: relative;
}

.dropdown-content-lib {
    background: #0a092d !important;
    width: 487px;
    position: absolute;
    top: 65px;
    left: 0;
    border: 1px solid #585858;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: none;
    z-index: 99;
    padding: 12px 0;
    color: silver;
    /*margin-bottom: 50px;*/
}

.dropdown-item-lib:active{
    color: white;
    border-bottom: 1px solid #8181F7;
}
.dropdown-content-libb {
    background: #0a092d !important;
    width: 487px;
    position: absolute;
    top: 109px;
    left: 0;
    border: 1px solid #585858;
    display: none;
    z-index: 99;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.dropdown-content-lib:last-child {
    right: 50px !important;
    top: 50px;
}
.user-avatar-lib {
    background-color: #423ed8;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
    text-transform: uppercase;
}
.dropdown-item-lib {
    color: #ccc !important;
    font-weight: bold;
    font-size: 14px;
    margin: 16px 10px 20px 10px;
    padding: 13px 10px;
    border-bottom: 1px solid #585858;
}

.dropdown-item-lib:hover {
    background: #0A092D;
    color: #4169E1 !important;
    border-bottom: 2px solid #4169E1;
}

.dropdown-item-lib:active {
    background: #0A092D;
    color: white !important;
    border-bottom: 1px solid white;
}

.item-lib{
    font-size: 20px;
}

.user-info-lib{
    display: flex;
    margin-top: 3px;
    margin-left: 25px;
}

.user-avatar-name{
    font-size: 14px;
    margin-top: 4px;
    color: silver;
}

.study-set-title-lib{
    font-size: 22px;
    margin-left: 25px;
    padding: 5px 0;
    margin-top: 15px;
}

#folder-container {
    display: none;
}

.get-all{
    padding: 8px 30px;
    border-top: 0.1px solid #606060;
}

.get-all a{
    color: #8181F7;
    font-size: 15px;
}

.get-all a:hover{
    color: #4169E1;
}

.item-set{
    height: 324px;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.item-set::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.study-set-item-lib:hover{
    background-color: #2e3856;
}

.study-set-item-lib{
    margin: 18px 0 0 0;
}

.under{
    border-bottom: 2px solid #a8b1ff;
}
